In [196]:
from bs4 import BeautifulSoup
import requests
import os
from pathlib import Path
import pandas as pd
import datetime

path_prefix = "dump/"
base_url = "http://www.streamlinerschedules.com/"

In [2]:
def download_track_pages():
    track_pages = [f"concourse/track{i}" for i in range(1, 13)]
    for page in track_pages:
        Path(path_prefix + page).mkdir(exist_ok=True, parents=True)
        with open(f"{path_prefix}{page}/index.html", "wb+") as f:
            f.write(requests.get(f"{base_url}{page}/index.html").content)

check_file = Path(f"{path_prefix}/concourse/track1/index.html")

if check_file.exists() and check_file.stat().st_size > 0:
    print("Already downloaded")
else:
    # download_track_pages()
    pass

Already downloaded

In [3]:
track_pages = [f"concourse/track{i}/index.html" for i in range(1, 13)]

In [4]:
with open(path_prefix + track_pages[0], "rb") as f:
    soup = BeautifulSoup(f, "html.parser")

In [5]:
# Returns a list like "birmspecial194112.html", "carolinaspecial196410.html", etc
def get_train_links(soup):
    relative_links = []
    for a in soup.find_all("a"):
        href = a.get("href")
        if href is not None and ".." not in href and "http://" not in href:
            relative_links.append(href)
    return relative_links

def get_link(relative_link, page):
    page = page.rstrip("index.html")
    return f"{base_url}{page}{relative_link}"

In [6]:
def read_child_pages(page):
    with open(path_prefix + page, "rb") as f:
        soup = BeautifulSoup(f, "html.parser")
        links = get_train_links(soup)
        for link in links:
            with open(f"{path_prefix}{page.rstrip('index.html')}/{link}", "wb+") as f:
                f.write(requests.get(get_link(link, page)).content)

In [7]:
all_train_files = []
for page in track_pages:
    with open(path_prefix + page, "rb") as f:
        soup = BeautifulSoup(f, "html.parser")
        links = get_train_links(soup)
        for link in links:
            file_location = f"{path_prefix}{page.rstrip('index.html')}{link}"
            all_train_files.append(file_location)

In [331]:
def maybe_get_schedule_from_row(stops, row, train_nums):
    if train_nums is None:
        return False
    try:
        # Don't differentiate between departure and arrival time, since they can be on different lines.
        if row.find("td", class_="times") is None or len(row.find_all("td", class_="times")) != len(train_nums):
            return False
        
        possible_miles = row.find_all("td", class_="miles")
        if len(possible_miles) == 2:
            miles = row.find_all("td", class_="miles")[1]
        elif len(possible_miles) == 1:
            miles = row.find("td", class_="miles")
        else:
            return False
        station = miles.findNext('td')

        times = row.find_all("td", class_="times")
        for num, time in zip(train_nums, times):
            time = time.text.replace("D", "").replace("R", "").replace("\n", " ").strip()
            if len(time) == 0:
                continue
            stops.loc[len(stops)] = [num, station.text.strip(), time, miles.text.strip()]
        return True
    except Exception as e:
        print(row, e)
        raise e

def parse_schedule(schedule_filename):
    with open(schedule_filename, "rb") as f:
        soup = BeautifulSoup(f, "html.parser")
    
    train_name = soup.find("h1").text

    # TODO: Date
    description_element = soup.find('h3', id='rrdate')
    table = soup.find('table')


    stops = pd.DataFrame(columns=["train_number", "station", "time", "miles"])

    rows = table.find_all("tr")


    train_nums = None
    num_rows_skipped = 0
    for row in rows:
        if row.find("td", class_="trainnum") is not None:
            # TODO: Map train number since they continue off each other
            train_nums = [t.text.strip() for t in row.find_all("td", class_="trainnum")]
            continue

        added_schedule = maybe_get_schedule_from_row(stops, row, train_nums)
        if not added_schedule:
            num_rows_skipped += 1
    print(train_name, num_rows_skipped, "rows skipped")
    
    return train_name, stops




# parse_schedule("dump/concourse/track1/birmspecial194112.html")[1]
# parse_schedule("dump/concourse/track1/carolinaspecial196410.html")
# parse_schedule("dump/concourse/track1/cityneworl194706.html")
# parse_schedule("dump/concourse/track1/cityneworl197104.html")
# parse_schedule("dump/concourse/track1/georgewash196706.html")
# parse_schedule("dump/concourse/track1/gulfcoastrebel195008.html")
# parse_schedule("dump/concourse/track3/erieltd195103.html")
# parse_schedule("dump/concourse/track11/indianpacific198805.html")[1]

In [332]:
file_name_to_name_and_schedule = {}
for file in all_train_files:
    if "track10" in file or "track11" in file:
        # This is Mexico and/or Europe
        continue
    try:
        train_name, stops = parse_schedule(file)
        file_name_to_name_and_schedule[file] = (train_name, stops)
    except Exception as e:
        print(f"Error parsing {file}: {e}")
        continue

The Birmingham Special 9 rows skipped
The Carolina Special 9 rows skipped
The City of Memphis 1 rows skipped
The City of New Orleans 10 rows skipped
The City of New Orleans 9 rows skipped
The Crescent 14 rows skipped
The Southern Crescent 12 rows skipped
The Southern Crescent 7 rows skipped
The George Washington
The F. F. V.
The Sportsman 27 rows skipped
The Georgian 13 rows skipped
The Gulf Coast Rebel 8 rows skipped
The Humming Bird 6 rows skipped
The Humming Bird 27 rows skipped
The Pan-American 11 rows skipped
The Pan-American 10 rows skipped
The Piedmont
Trains 7 & 8
Trains 3 & 4 6 rows skipped
The Powhatan Arrow 5 rows skipped
The Rebel 8 rows skipped
The Rebel 6 rows skipped
The Silver Comet 7 rows skipped
The Southern Belle 4 rows skipped
The Southern Belle 5 rows skipped
The Southerner 8 rows skipped
The Tennessean 16 rows skipped
The Tamiami Champion (East Coast) 10 rows skipped
The Tamiami Champion (West Coast) 10 rows skipped
The Champion 9 rows skipped
The City of Miami 2 rows skipped
The City of Miami 14 rows skipped
The  Del-Mar-Va Express 9 rows skipped
The  Dixie Flagler 5 rows skipped
The Florida Special 9 rows skipped
The  Gulf Wind 3 rows skipped
The Gulf Wind 3 rows skipped
The  Havana Special 19 rows skipped
The  Kansas City-Florida Special 8 rows skipped
The
"New Royal Palm"
The Michigan Special/The Ohio Special
The Midnight Special
 26 rows skipped
The Orange Blossom Special 12 rows skipped
The Orange Blossom Special 10 rows skipped
The Silver Star 5 rows skipped
The South Wind 5 rows skipped
The South Wind 6 rows skipped
The Black Diamond 3 rows skipped
The Capitol Limited 8 rows skipped
The Capitol Limited
The Columbian
The Ambassador
 7 rows skipped
The Capitol Limited
 5 rows skipped
The Commodore Vanderbilt
The Advance Commodore
Vanderbilt
 12 rows skipped
The Congressionals 1 rows skipped
The Crusader 2 rows skipped
The Erie Limited 35 rows skipped
The Federal Express 20 rows skipped
The Federal 12 rows skipped
The Flying Yankee 16 rows skipped
The General 3 rows skipped
The General 2 rows skipped
The Keystones 2 rows skipped
The Knickerbocker 34 rows skipped
The Lake Cities 5 rows skipped
The Lake Cities 16 rows skipped
The Liberty Limited 5 rows skipped
The Liberty Limited 4 rows skipped
The Manhattan Limited
The Pennsylvania
Limited 3 rows skipped
The Merchants Limited 3 rows skipped
The Merchants Limited 1 rows skipped
The Metroliners 8 rows skipped
The Metroliners 1 rows skipped
The National Limited 20 rows skipped
The New England States 12 rows skipped
The Penn Texas 10 rows skipped
The Phoebe Snow 7 rows skipped
The
Phoebe Snow 19 rows skipped
The
Potatoland Special 5 rows skipped
The Royal BlueThe Columbian 1 rows skipped
The St. Louisan 19 rows skipped
The Senator 2 rows skipped
The "Spirit of St. Louis"
The Jeffersonian 2 rows skipped
The Trail Blazer 7 rows skipped
The Westerner
The New Yorker 15 rows skipped
The Wolverine 24 rows skipped
The Abraham Lincoln
The
Ann Rutledge 1 rows skipped
The Arrow 6 rows skipped
The Blue Bird 2 rows skipped
The
Streamliner, City of
Salina 11 rows skipped
The "400" 2 rows skipped
The Green Diamond 2 rows skipped
The Mercury 1 rows skipped
Trains 3
& 4 3 rows skipped
The Eagle 2 rows skipped
The Missouri River Eagle 2 rows skipped
The Nickel Plate Limited 4 rows skipped
The Peoria Rocket
The Des Moines Rocket 4 rows skipped
The Pere Marquettes 1 rows skipped
The Pioneer Zephyr 3 rows skipped
The Thoroughbred 2 rows skipped
The Twin Zephyrs 2 rows skipped
The Twin Zephyrs 2 rows skipped
The "Wabash Cannon Ball" 5 rows skipped
The Broadway Limited 2 rows skipped
The Broadway Limited 2 rows skipped
The Broadway Limited 1 rows skipped
The Broadway Limited 2 rows skipped
The
California Zephyr 18 rows skipped
The
California Zephyr 18 rows skipped
The Canadian 15 rows skipped
The Canadian 2 rows skipped
The
Streamliner, City of
Los Angeles 10 rows skipped
The City
of
Los Angeles
The Challenger 17 rows skipped
The City
of
Los Angeles 15 rows skipped
The City
of
Los Angeles
The Challenger
The City of
Denver
The City of Kansas City
The City of
Portland
The City of San
Francisco
[aka: The "City of
Everywhere!"] 32 rows skipped
The Daylight 3 rows skipped
The Coast Daylight 5 rows skipped
The Hiawatha 4 rows skipped
The Hiawathas 5 rows skipped
The Hiawathas 5 rows skipped
The North Coast Limited 20 rows skipped
The North Coast Limited 30 rows skipped
The Panama Limited 17 rows skipped
The Panama Limited 10 rows skipped
The Panama Limited
The Magnolia Star
 9 rows skipped
The Panama Limited 8 rows skipped
The Silver Meteor 9 rows skipped
The Silver Meteor 10 rows skipped
The Silver Meteor 4 rows skipped
The Super Chief 11 rows skipped
The Super Chief 11 rows skipped
The Super Chief 14 rows skipped
The Super Chief
El
Capitan 25 rows skipped
The Super Chief
El
Capitan 35 rows skipped
The 20th Century Limited 8 rows skipped
The 20th Century Limited 1 rows skipped
The 20th Century Limited 2 rows skipped
The 20th Century Limited 1 rows skipped
Error parsing dump/concourse/track5/mailto:eric@streamlinerschedules.com: 'NoneType' object has no attribute 'find_all'
Trains 1 and 2
 2 rows skipped
The Atlantic Limited
Dayliner RDC Service
 12 rows skipped
The Gull 16 rows skipped
The International Limited 18 rows skipped
The Streamlined Internationals
Trains 358 & 359
 22 rows skipped
The Maple Leaf 7 rows skipped
The Midnight Sun
 1 rows skipped
The MontrealerThe Washingtonian 10 rows skipped
The Montreal Limited 3 rows skipped
The Mountaineer
 11 rows skipped
The Ocean Limited 8 rows skipped
The Ontarian 3 rows skipped
The Red Wing
The Alouette/Budd
Highliner
 3 rows skipped
The Scotian 7 rows skipped
The Super Continental 17 rows skipped
The Butte Special
The Yellowstone
Special 6 rows skipped
The Cascade 7 rows skipped
The
Streamliner, City of
Portland 4 rows skipped
The City of Portland 18 rows skipped
The City of Portland 16 rows skipped
The Empire Builder 10 rows skipped
The Empire Builder 14 rows skipped
The Golden Gates 9 rows skipped
The Lark 8 rows skipped
The Olympian 17 rows skipped
The Olympian Hiawatha 14 rows skipped
The Owl 5 rows skipped
Seattle-Portland
Pool Service 10 rows skipped
Seattle-Portland
Pool Service 6 rows skipped
Seattle-Portland
Pool Service 2 rows skipped
The Rogue River 2 rows skipped
The San Diegans 1 rows skipped
The San Joaquin Daylight 4 rows skipped
The San Joaquin Daylight
The Sacramento
Daylight 5 rows skipped
The San Joaquin Daylight
The Sacramento
Daylight 5 rows skipped
The Shasta Daylight 6 rows skipped
The Spokane 8 rows skipped
The West Coast 3 rows skipped
The Western Star 39 rows skipped
California
Express 15 rows skipped
The California
Limited
 17 rows skipped
The California
Limited 18 rows skipped
The Chief 10 rows skipped
The Chief 25 rows skipped
The
Streamliner, City of Denver 3 rows skipped
The
Streamliner, City of Denver 7 rows skipped
The
Domeliner, City of St. Louis 15 rows skipped
The
Domeliner, City of St. Louis 17 rows skipped
The
Streamliner, City of
San Francisco 7 rows skipped
The
Streamliner, City of
San Francisco 14 rows skipped
The City
of San
Francisco 14 rows skipped
The Colorado
Eagle 6 rows skipped
The Colorado
Eagle 6 rows skipped
The Denver
Zephyr 12 rows skipped
The Denver
Zephyr 10 rows skipped
The Denver
Zephyr 8 rows skipped
El
Capitan 11 rows skipped
El
Capitan 11 rows skipped
The Grand Canyon Limited
 20 rows skipped
The Grand Canyon
 25 rows skipped
Trains
23 and 24
 13 rows skipped
The Los
Angeles Limited
 12 rows skipped
Trains
7-5 and 6-8
 13 rows skipped
Passenger
Express 2 rows skipped
The San
Francisco Overland Limited
 10 rows skipped
The San
Francisco Overland 16 rows skipped
Trains
27-9 and 10-28
The Streamliner San
Francisco Overland 12 rows skipped
Trains
11-15 and 16-12 (California Service)
The Rio Grande Zephyr 10 rows skipped
The Rocky
Mountain Rocket 9 rows skipped
The Royal
Gorge
The Prospector 12 rows skipped
The Royal
Gorge
The Prospector 12 rows skipped
The San
Francisco Chief 40 rows skipped
The San
Francisco Chief 42 rows skipped
The San
Francisco Chief 14 rows skipped
The San
Juan
Express 3 rows skipped
The Scout
The Missionary 122 rows skipped
The Utah Parks Special 3 rows skipped
The Angelo 3 rows skipped
The Argonaut 54 rows skipped
The Arizona Limited 8 rows skipped
Trains
6-75-92-97-23 and 24-98-91-76-5 8 rows skipped
The California Special 17 rows skipped
The California Special 7 rows skipped
The Golden State Limited
The Californian 156 rows skipped
The Golden State 14 rows skipped
The Golden State 12 rows skipped
The Houstonian
The Orleanean 3 rows skipped
The Imperial 15 rows skipped
The Lone Star 3 rows skipped
The Louisiana Eagle
 5 rows skipped
The
Streamlined Meteor 8 rows skipped
The Morning Star 8 rows skipped
The Ranger 15 rows skipped
The Sam Houston Zephyr
The Texas Rocket 2 rows skipped
The Sam Houston Zephyr
The Twin Star
Rocket
Trains 11 and 12 5 rows skipped
The SunbeamThe Hustler 2 rows skipped
The Sunset Limited 12 rows skipped
The Sunset Limited 14 rows skipped
Before the Fall 26 rows skipped
Paradise Lost 14 rows skipped
The Train From Hell 6 rows skipped
A Redemption, of Sorts 6 rows skipped
The Texas Chief 42 rows skipped
The Texas Chief 10 rows skipped
The Texas Chief 8 rows skipped
The Texas Eagles 15 rows skipped
The Texas Eagles 14 rows skipped
The Texas Eagles
The Sunshine Special 61 rows skipped
The Texas Eagle 15 rows skipped
The Texas Special 9 rows skipped
The Texas Special
The Bluebonnet 14 rows skipped
The Texas Special
Trains 5 & 6 7 rows skipped
The Texas Zephyr 8 rows skipped
The Texas ZephyrTrains 27-7 and 8-28 8 rows skipped
The Twin Star Rocket 6 rows skipped
The Twin Star Rocket 9 rows skipped
The Twin
Star Rocket 13 rows skipped
Error parsing dump/concourse/track9/mailto:eric@streamlinerschedules.com: 'NoneType' object has no attribute 'find_all'
Passenger
Service 4 rows skipped
The Chili Line 1 rows skipped
The "Chippy" 2 rows skipped
Mixed
Trains 1
and 2 1 rows skipped
The Cannonball
Long Island Railroad Service 2 rows skipped
Mixed
Local Trains 71 and 72 1 rows skipped
The Silverton 1 rows skipped
The Silverton 1 rows skipped
The Steptoe Valley Flyer 2 rows skipped
Passenger
Service  7 rows skipped
Trains
14, 15, 17, 18 19 rows skipped

In [334]:
timezones = {"(ET)", "(MT)", "(CT)", "(PT)", "(AT)", "(EDT)", "(CST)", "(CDT)", "(EST)", "(PST)", "(MST)", "(PDT)", "(MST)", "(AST)"}
def clean_station_name(station):
    for t in timezones:
        station = station.replace(t, "")
    return station.replace("\r\n", " ")

In [335]:
all_station_names = set()
for _, stops in file_name_to_name_and_schedule.values():
    all_station_names.update(stops["station"])

In [336]:
clean_station_names = {clean_station_name(s) for s in all_station_names}

In [339]:
cities_table = pd.read_csv("uscities.csv")

def get_matching_city(city, state):
    return cities_table[(cities_table["city"] == city) & (cities_table["state_id"] == state)]

unmatched_stations = []

station_name_to_coords = {}
for station in clean_station_names:
    s = station.split(",")
    if len(s) != 2:
        continue
    city = s[0]
    state = s[1][1:3]

    match = get_matching_city(city, state)
    if len(match) == 0:
        unmatched_stations.append(station)
        continue
    station_name_to_coords[station] = (match.iloc[0]["lat"], match.iloc[0]["lng"])

In [340]:
schedule = file_name_to_name_and_schedule["dump/concourse/track1/birmspecial194112.html"][1]
schedule

    train_number                                  station    time  miles
0            125          New York, NY (Penna. Sta.) (ET)  12 30P    0.0
1       176(3rd)          New York, NY (Penna. Sta.) (ET)   4 45P    0.0
2            125                               Newark, NJ  12 45P   10.0
3       176(3rd)                               Newark, NJ   4 29P   10.0
4            125                              Trenton, NJ   1 31P   58.1
..           ...                                      ...     ...    ...
97            48                               Laurel, MS  11 04A  209.1
98            47                          Hattiesburg, MS   5 43P  238.0
99            48                          Hattiesburg, MS  10 30A  238.0
100           47  New Orleans, LA (Terminal\r\nSta.) (CT)   8 15P  354.6
101           48  New Orleans, LA (Terminal\r\nSta.) (CT)   8 00A  354.6

[102 rows x 4 columns]

# Group by departure station in this format:

```ts
type Coords = [number, number, number?] // [x, y, z?]
type Route = {
  departureTime: number // seconds since midnight (choose a timezone and stick with it)
  departureCoords: Coords
  arrivalTime: number // seconds since midnight (choose a timezone and stick with it)
  arrivalCoords: Coords

  // optional fields if we have the data for it
  trainIdentifier?: string // name or id
  departureIdentifier?: string // station name
  arrivalIdentifier?: string // station name
}
```

In [341]:
def time_to_seconds(time_str):
    """Converts a time string in the format 'HH MMX' (e.g., '3 22P') to seconds past midnight.
  
    Args:
      time_str: The time string to convert.
  
    Returns:
      The number of seconds past midnight.
    """
    s = time_str.lstrip("F").replace("\n", " ").strip().split(" ")
    if len(s) != 2:
        print("INVALID TIME PASSED IN", time_str, len(time_str))
        1 / 0

    hour, minute = s 
    hour = int(hour)

    if len(minute) > 2:
        period = minute[2]
    else:
        period = "A"
    minute = int(minute[:2])

    if period == 'P' and hour != 12:
      hour += 12
    elif period == 'A' and hour == 12:
      hour = 0

    return hour * 3600 + minute * 60


def maybe_get_next_stop(group, current_stop):
    for i in range(current_stop + 1, len(group)):
        if clean_station_name(group.iloc[i]["station"]) in station_name_to_coords:
            return group.iloc[i]
    return None
    
def get_next_stop_with_time(group, current_stop):
    for i in range(current_stop + 1, len(group)):
        if group.iloc[i]["time"] != "F" and len(group.iloc[i]["miles"]) > 0:
            return group.iloc[i]
    return None


def schedule_to_routes(train_name, schedule):
    departure_station_to_route = {}

    for _, group in schedule.groupby('train_number'):
        last_entry_with_time = None
        for i in range(len(group) - 1):
            current_stop, next_stop = group.iloc[i], maybe_get_next_stop(group, i)
            current_station  = clean_station_name(current_stop["station"])

            if current_station not in station_name_to_coords or next_stop is None:
                continue
            next_station = clean_station_name(next_stop["station"])



            if current_stop["time"] == "F":
                # Impute the current time based on the last and next entry with time
                next_stop_with_time = get_next_stop_with_time(group, i)
                if last_entry_with_time is None or next_stop_with_time is None:
                    print("ERROR", current_stop)
                    continue

                distance_with_time = float(next_stop_with_time["miles"]) - float(last_entry_with_time["miles"])
                miles_per_second = distance_with_time / (time_to_seconds(next_stop_with_time["time"]) - time_to_seconds(last_entry_with_time["time"]))

                distance_elapsed = float(current_stop["miles"]) - float(last_entry_with_time["miles"])
                time_elapsed = distance_elapsed / miles_per_second

                departure_time = time_elapsed + time_to_seconds(last_entry_with_time["time"])
            else:
                departure_time = time_to_seconds(current_stop["time"])
                last_entry_with_time = current_stop



            if next_stop["time"] == "F":
                # Impute the current time based on the last and next entry with time
                next_stop_with_time = get_next_stop_with_time(group, i)
                if last_entry_with_time is None or next_stop_with_time is None:
                    print("ERROR", current_stop)
                    continue

                distance_with_time = float(next_stop_with_time["miles"]) - float(last_entry_with_time["miles"])
                miles_per_second = distance_with_time / (time_to_seconds(next_stop_with_time["time"]) - time_to_seconds(last_entry_with_time["time"]))

                distance_elapsed = float(next_stop["miles"]) - float(last_entry_with_time["miles"])
                time_elapsed = distance_elapsed / miles_per_second

                arrival_time = time_elapsed + time_to_seconds(last_entry_with_time["time"])
            else:
                arrival_time = time_to_seconds(next_stop["time"])

            
            route = {
                'departureTime': departure_time,
                'departureCoords': list(station_name_to_coords[current_station]),
                'departureIdentifier': current_station,

                'arrivalTime':  arrival_time,
                'arrivalCoords': list(station_name_to_coords[next_station]),
                'arrivalIdentifier': next_station,

                'trainName': train_name,
                'trainNumber': current_stop["train_number"]
            }
            if current_station in departure_station_to_route:
                departure_station_to_route[current_station].append(route)
            else:
                departure_station_to_route[current_station] = [route]
    return departure_station_to_route

routes = schedule_to_routes("The Birmingham Special", schedule)

In [342]:
all_routes = {}

for file_name, (name, schedule) in file_name_to_name_and_schedule.items():
    print(file_name)
    routes = schedule_to_routes(name, schedule)
    all_routes[file_name] = routes

dump/concourse/track1/birmspecial194112.html
dump/concourse/track1/carolinaspecial196410.html
dump/concourse/track1/citymemphis195008.html
dump/concourse/track1/cityneworl194706.html
dump/concourse/track1/cityneworl197104.html
dump/concourse/track1/crescent195008.html
dump/concourse/track1/crescent197104.html
dump/concourse/track1/crescent197303.html
dump/concourse/track1/georgewash196706.html
dump/concourse/track1/georgian196308.html
dump/concourse/track1/gulfcoastrebel195008.html
dump/concourse/track1/humbird194706.html
dump/concourse/track1/humbird196308.html
dump/concourse/track1/pan-am192701.html
dump/concourse/track1/pan-am195407.html
dump/concourse/track1/piedmontltd197303.html
dump/concourse/track1/powhatan195008.html
dump/concourse/track1/rebel193809.html
dump/concourse/track1/rebel195304.html
dump/concourse/track1/silvercomet194706.html
dump/concourse/track1/soubelle194106.html
dump/concourse/track1/soubelle196803.html
dump/concourse/track1/southerner194112.html
dump/concourse/track1/tennessean195212.html
dump/concourse/track2/championec194106.html
dump/concourse/track2/championwc194106.html
dump/concourse/track2/champion197104.html
dump/concourse/track2/citymiami194106.html
dump/concourse/track2/citymiami197104.html
dump/concourse/track2/delmarva194310.html
dump/concourse/track2/dixieflag194106.html
dump/concourse/track2/floridaspecial194912.html
dump/concourse/track2/gulfwind194912.html
dump/concourse/track2/gulfwind197104.html

ValueError: could not convert string to float: ''

In [312]:
sum([len(i) for i in all_routes.values()])

1139

In [314]:
flattened = []
for routes in all_routes.values():
    for route in routes.values():
        flattened.extend(route)

In [319]:
import json

with open("routes.json", "w+") as f:
    json.dump(flattened, f, indent=2)

In [320]:
len(flattened)

2413